

body {
  text-align: center;
  background-image: url("https://i.pinimg.com/736x/30/c1/86/30c186ac479ada24b401baee76187153.jpg");
  background-size: cover;
  background-position: top 10%;
}

h1 {
  color: rgb(158, 36, 234);
  font-weight: bold;
  background-color:  rgb(14, 5, 5);
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: fantasy;
  
}

.listItem {
  border: solid black 4px;
  border-radius: 5px;
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 5px 5px grey;
  background-color: rgb(225, 14, 245);
}

.form {
  background-color: rgb(101, 85, 85);
  border: solid rgb(81, 5, 5) 6px;
  border-radius: 8px;
  margin-top: 100px;
  margin-left: 30%;
  width:40%;
}

.inputs {
  margin-top: 25px;
  margin-bottom: 20px;
}

button {
  margin-top: 10px;
  margin-bottom: 25px;
  box-shadow: rgb(0, 213, 167) 4px 4px;
}

a{
  color: black;

}

